<header id="fh5co-header" role="banner">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false"
          aria-controls="navbar">
          <i></i>
        </a>
        <div class="navbar-brand">
          <a style="width:300px;" [routerLink]="['home']">{{Roshani}}-NGO</a> 
        </div>
        <b><span class="text-muted">({{RoshaniSubTitle}})</span></b>
      </div>
      <div id="fh5co-navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="liHome" routerLinkActive="active">
            <a  routerLink="home">
              <span>Home
                <span class="border"></span>
              </span>
            </a>
          </li>
          <li id="liAbout" routerLinkActive="active">
            <a routerLink="about">
              <span>About
                <span class="border"></span>
              </span>
            </a>
          </li>
          <li id="liGallery" routerLinkActive="active">
              <a routerLink="gallery">
                <span>Gallery
                  <span class="border"></span>
                </span>
              </a>
            </li>
             <li id="liPress" routerLinkActive="active">
              <a routerLink="PressRelease">
                <span>Press Release
                  <span class="border"></span>
                </span>
              </a>
            </li> 
        </ul>
      </div>
    </div>
  </nav>
</header>
