.slide_1{
    background-image:url(/assets/images/HomeSlide1.jpg);
}
.slide_2{
    background-image:url(/assets/images/HomeSlide2.jpg);
}
.slide_3{
    background-image:url(/assets/images/HomeSlide3.jpg);
}
.slide_4{
    background-image:url(/assets/images/HomeSlide4.jpg);
}