<footer id="fh5co-footer">
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="fh5co-footer-widget">
            <h2 class="fh5co-footer-logo"><Span class="footer-local">{{Roshani}}-NGO</Span></h2>
            <p class="BlackText">
              <b>Kapil Dev Prajapati</b>
              <br><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              <i>(+91) - 94 256 577 04</i>
              <br><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
              <i>(+91) 7146 - 250444</i>
              <br><span class="glyphicon glyphicon-envelope"></span>
              <i>roshaningo@yahoo.in,kapilprajapati04@gmail.com</i>
            </p>
            <p class="BlackText">
              1<sup>st</sup> Floor RML College, Hawai Patti Bagdona, Th. Ghoradongri<br>Dist: Betul (M.P.)-460449
            </p>
            Registered under society registration act of MP Govt.
            <p class="BlackText">                
             <b>Reg. No. 01/06/01/13053/03 </b>
            </p>
            
          </div>
          <div class="fh5co-footer-widget">
            <ul class="fh5co-social">
              <li><a href="https://www.facebook.com/PMKVY-Bagdona-SARNI-1833170496938487" target="_blank"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="row fh5co-row-padded fh5co-copyright">
        <div class="col-md-5">
          <p><small>&copy; Kenflicker All Rights Reserved. <br>Designed by: <a href="http://kenflicker.in/" target="_blank">Kenflicker</a> </small></p>
        </div>
      </div>
    </div>
  
  </footer>